/*------------------GLOBAL------------------*/

:root {
  --fs-xl: 3.8rem;
  --fs-l: 2.87rem;
  --fs-m: 1.5rem;
}

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #333333;
  font-size: 16px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 800;
  line-height: 1.1em;
  margin: 20px 0;
}

h2 {
  font-size: var(--fs-l);
  line-height: 1.1em;
  font-weight: 800;
  margin-top: 0;
}

h3 {
  font-size: var(--fs-m);
  line-height: 1.1em;
  font-weight: 700;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.error {
  border: 1px #ff4019 solid !important;
}

//----MEDIA-GLOBAL----//

@include lg {
  :root {
    --fs-xl: 2.9rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
  }
}

/*--------------------------------------------*/
