/*------------------MAIN------------------*/

/*---MAIN-GLOBAL---*/
.card {
  &__item {
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    border-radius: 10px;
  }

  &__item--german {
    background-color: #def1ff;
  }

  &__item--german:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
  }

  &__item--china {
    background-color: #fdede4;
  }

  &__item--china:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
  }

  &__item--spain {
    background-color: #efefff;
  }

  &__item--spain:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
  }

  &__item img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  &__item-text--big {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    color: #232323;
    margin-bottom: 20px;
  }

  &__item-text {
    display: block;
    margin-bottom: 3px;
  }

  &__item-info {
    margin-bottom: 25px;
  }

  &__item-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-link {
    position: relative;
    color: #8e49a0;
    font-weight: 600;
  }

  &__item-link::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 18px;
    height: 20px;
    background: url(../images/arrow-right.svg) no-repeat center;
  }

  &__item-price {
    font-size: 20px;
    line-height: 1.1em;
    font-weight: 700;
  }
}
/*-----------------*/

.promo {
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__desc-title {
    padding-top: 55px;
  }

  &__desc-name {
    font-size: 18px;
    color: #2e90d1;
    font-weight: 600;
  }

  &__desc-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: #828282;
    max-width: 490px;
    margin-bottom: 60px;
  }

  &__desc-btns {
    display: flex;
    align-items: center;
  }

  &__desc-try,
  &__desc-check {
    font-size: 18px;
    line-height: 18px;
    padding: 18px 28px;
    margin-right: 32px;
  }

  &__desc-check {
    padding-left: 70px;
    background: none;
    color: #585858;
    position: relative;
  }

  &__desc-check::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    background: url(../../images/video-start.svg) no-repeat;
    width: 100%;
    height: 110%;
  }
}

.courses {
  margin-bottom: 100px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__title h2 {
    max-width: 650px;
  }

  &__slides {
    min-width: 0;
    overflow: hidden;
    padding: 10px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-bottom: 70px;
  }
}

.group {
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 100px;
  }

  &__desc {
    max-width: 453px;
    margin-right: 20px;
  }

  &__desc-title {
    margin-bottom: 35px;
  }

  &__desc-title h2 {
    margin-bottom: 0;
  }

  &__desc-name {
    font-size: 46px;
    color: #2e90d1;
    font-weight: 900;
  }

  &__desc-link {
    color: #2e90d1;
  }

  &__desc-text {
    font-weight: 500;
    font-size: 20px;
    color: #585858;
    margin-bottom: 50px;
  }

  &__desc-btn {
    font-size: 18px;
  }

  &__items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 453px;
    text-align: left;
    padding: 20px 40px;
  }

  &__item h3 {
    margin-top: 20px;
  }

  &__item-text {
    font-weight: 500;
    line-height: 24px;
    max-width: 375px;
  }

  &__item img {
    margin-left: 0;
  }
}

/*------------------------------------------*/
