/*------------------MAIN------------------*/

/*---MAIN-GLOBAL---*/
.card {
  &__item {
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    border-radius: 10px;
    max-width: 453px;
  }

  &__item--german {
    background-color: #def1ff;
  }

  &__item--german:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(81, 162, 217, 0.2);
  }

  &__item--china {
    background-color: #fdede4;
  }

  &__item--china:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(228, 33, 37, 0.2);
  }

  &__item--spain {
    background-color: #efefff;
  }

  &__item--spain:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
    -moz-box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
    box-shadow: 0px 0px 6px 4px rgba(145, 145, 215, 0.2);
  }

  &__item img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  &__item-text--big {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    color: #232323;
    margin-bottom: 20px;
  }

  &__item-text {
    display: block;
    margin-bottom: 3px;
  }

  &__item-info {
    margin-bottom: 25px;
  }

  &__item-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-link {
    position: relative;
    color: #8e49a0;
    font-weight: 600;
  }

  &__item-link::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 18px;
    height: 20px;
    background: url(../images/arrow-right.svg) no-repeat center;
  }

  &__item-price {
    font-size: 20px;
    line-height: 1.1em;
    font-weight: 700;
  }
}

.article {
  &__item {
    width: 453px;
    border-radius: 20px;
    padding: 40px;
    border: 1px solid #efefff;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
    -moz-box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
    box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
  }

  &__item-title {
    margin-bottom: 12px;
  }

  &__item-title a:hover {
    color: #78258d;
  }

  &__item-date {
    color: #2e90d1;
  }

  &__item-text {
    color: #585858;
    font-weight: 500;
    line-height: 24px;
  }

  &__item-interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-btn {
    padding: 10px 20px;
    background-color: #efefff;
    font-weight: 500;
  }

  &__item-link {
    color: #8e49a0;
    font-weight: 500;
  }
}

.faq {
  &__item {
    max-width: 947px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 4px 17px -7px rgba(46, 144, 209, 0.31);
    -moz-box-shadow: 0px 4px 17px -7px rgba(46, 144, 209, 0.31);
    box-shadow: 0px 4px 17px -7px rgba(46, 144, 209, 0.31);
  }
  &__btn {
    padding: 24px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.3s ease-out;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 24px;
    will-change: max-height;
    font-weight: 500;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-out;
    background-color: #efefff;
  }
  .open &__content {
    opacity: 1;
    padding-bottom: 24px;
    box-sizing: content-box;
  }

  .open &__btn {
    background-color: #efefff;
  }

  &__ico {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
  }

  &__ico::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s;
    width: 18.5px;
    border-radius: 5px;
    height: 2px;
    background-color: #641f76;
  }

  &__ico::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(90deg);
    transition: all 0.3s;
    width: 18.5px;
    height: 2px;
    border-radius: 5px;
    background-color: #641f76;
  }

  .open &__ico {
    background-color: #641f76;
    border-radius: 4px;
  }

  .open &__ico::before {
    transform: rotate(45deg);
    background-color: #efefff;
  }

  .open &__ico::after {
    transform: rotate(135deg);
    background-color: #efefff;
  }
}

//*=========================================================================================

.promo {
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__desc {
    max-width: 700px;
  }
  &__desc-title {
    padding-top: 55px;
  }

  &__desc-name {
    font-size: 18px;
    color: #2e90d1;
    font-weight: 600;
  }

  &__desc-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: #828282;
    max-width: 490px;
    margin-bottom: 60px;
  }

  &__desc-btns {
    display: flex;
    align-items: center;
  }

  &__desc-try,
  &__desc-check {
    font-size: 18px;
    line-height: 18px;
    padding: 18px 28px;
    margin-right: 32px;
    white-space: nowrap;
  }

  &__desc-check {
    padding-left: 70px;
    background: none;
    color: #585858;
    position: relative;
  }

  &__desc-check::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    background: url(../../images/video-start.svg) no-repeat;
    width: 100%;
    height: 110%;
  }

  &__image img {
    object-fit: contain;
    
    overflow: hidden;
  }
}

//*=========================================================================================

.courses {
  margin-bottom: 100px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__title h2 {
    max-width: 650px;
  }

  &__btn-mobile {
    display: none;
  }
  &__slides {
    min-width: 0;
    overflow: hidden;
    padding: 10px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-bottom: 70px;
  }
}

//*=========================================================================================

.group {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 120px;
    left: -200px;
    background: url(../../images/group-bg.png) no-repeat;

    width: 100%;
    height: 100%;
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 60px;
  }

  &__desc {
    max-width: 453px;
    margin-right: 80px;
  }

  &__desc-title {
    margin-bottom: 35px;
  }

  &__desc-title h2 {
    margin-bottom: 0;
  }

  &__desc-name {
    font-size: 46px;
    color: #2e90d1;
    font-weight: 900;
  }

  &__desc-link {
    color: #2e90d1;
  }

  &__desc-text {
    font-weight: 500;
    font-size: 20px;
    color: #585858;
    margin-bottom: 50px;
  }

  &__desc-btn {
    font-size: 18px;
  }

  &__slides {
    overflow: hidden;
    width: 100%;
    min-width: 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    min-width: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    text-align: left;
    padding: 20px 40px;
    margin-bottom: 25px;
  }

  &__item h3 {
    margin-top: 20px;
  }

  &__item-text {
    font-weight: 500;
    line-height: 24px;
    max-width: 375px;
  }

  &__item img {
    margin-left: 0;
  }

  &__btn {
    display: none;
  }
}

//*=========================================================================================

.about {
  &__inner {
    margin-bottom: 80px;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__big {
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    margin-bottom: 40px;
  }

  &__top-info {
    padding-top: 35px;
    max-width: 550px;
    position: relative;
  }

  &__top-info::before {
    content: "01";
    position: absolute;
    top: -10px;
    left: 0;
    width: 63px;
    height: 28px;
    background-color: #2e90d1;
    border-radius: 100px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 20px;
    margin-right: 75px;
  }

  &__middle-title {
    max-width: 450px;
  }

  &__middle-info {
    padding-top: 35px;
    max-width: 550px;
    position: relative;
  }

  &__middle-info::before {
    content: "02";
    position: absolute;
    top: -10px;
    left: 0;
    width: 63px;
    height: 28px;
    background-color: #78258d;
    border-radius: 100px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  &__middle-text {
    max-width: 500px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-info {
    max-width: 578px;
    padding-top: 35px;
    position: relative;
  }

  &__bottom-text {
    margin-bottom: 50px;
  }

  &__bottom-info::before {
    content: "03";
    position: absolute;
    top: -10px;
    left: 0;
    width: 63px;
    height: 28px;
    background-color: #e42125;
    border-radius: 100px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
}

//*=========================================================================================

.methods {
  &__inner {
    background: rgb(46, 144, 209);
    background: linear-gradient(147deg, rgba(46, 144, 209, 0.1) 35%, rgba(120, 37, 141, 0.1) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 650px;
    padding: 10px;

    margin-bottom: 100px;
  }

  &__desc {
    max-width: 596px;
  }

  &__image {
    align-self: flex-end;
  }

  &__desc-name {
    background: rgb(46, 144, 209);
    background: linear-gradient(180deg, rgba(46, 144, 209, 1) 35%, rgba(120, 37, 141, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__desc-list {
    font-size: 20px;
    font-weight: 500;
    list-style-image: url(../../images/list-style.svg);
    margin-left: 20px;
  }

  &__desc-list li {
    margin-bottom: 16px;
    padding-left: 10px;
  }
}

//*=========================================================================================

.tutorial {
  &__inner {
    margin-bottom: 100px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__slides {
    padding: 10px;
    overflow: hidden;
    min-width: 0;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
    -moz-box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
    box-shadow: 0px 0px 13px 3px rgba(190, 204, 215, 0.12);
    max-width: 33%;
  }

  &__item-title {
    padding-top: 60px;
    margin-bottom: 10px;
    position: relative;
  }

  &__item-text {
    max-width: 373px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__item-title::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 28px;
    border-radius: 100px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  &__item:nth-child(1) &__item-title::before {
    content: "1";
    background-color: #2e90d1;
  }

  &__item:nth-child(2) &__item-title::before {
    content: "2";
    background-color: #2e90d1;
  }

  &__item:nth-child(3) &__item-title::before {
    content: "3";
    background-color: #e42125;
  }
}

//*=========================================================================================

.reviews {
  &__inner {
    margin-bottom: 70px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__title h2 {
    max-width: 439px;
  }

  &__users {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }



  &__image img {
    object-position: 40px -15px;
    object-fit: contain;
  }

  &__slides {
    max-width: 700px;
  }

  &__item {
    padding: 40px;
    background-color: #fdede4;
    border-radius: 10px;
    max-width: 700px;
    box-sizing: border-box;
    min-width: 0;
  }

  &__item-rating {
    display: flex;
    align-self: flex-start;
    gap: 0 7px;
  }

  &__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
  }

  &__item-name > * {
    display: block;
  }

  &__item-name--full {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__item-name--type {
    font-size: 20px;
    font-weight: 500;
    color: #828282;
  }

  &__item-text {
    color: #4f4f4f;
    max-width: 620px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

//*=========================================================================================

.record {
  &__inner {
    background: rgb(46, 144, 209);
    background: linear-gradient(147deg, rgba(46, 144, 209, 0.1) 35%, rgba(120, 37, 141, 0.1) 100%);
    border-radius: 40px;

    min-height: 524px;
    margin-bottom: 100px;
    padding: 90px;

    display: flex;
    justify-content: space-between;
  }

  &__title h2 {
    max-width: 560px;
  }

  &__title {
    position: relative;
  }

  &__title-img {
    display: none;
  }

  &__form {
    margin-bottom: 35px;
    margin-right: 10px;
  }

  &__form label {
    width: 407px;
  }

  &__form-inner {
    display: flex;
    align-items: flex-end;
  }

  &__form-input {
    width: 100%;
  }

  &__btn {
    padding: 15px 20px;
    margin-left: 10px;
  }

  &__form-name {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__personal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
  }

  &__personal-input {
    margin-right: 10px;
  }

  &__personal-text {
    display: inline-block;
  }

  &__personal-text a {
    color: #2e90d1;
    text-decoration: underline;
  }
}

//*=========================================================================================

.news {
  &__inner {
    margin-bottom: 100px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__title h2 {
    margin-bottom: 0;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__item-interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//*=========================================================================================

.questions {
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__title {
    max-width: 445px;
    margin-bottom: 60px;
  }

  &__title-image {
    display: none;
  }
}

//*-----MEDIA-GRID-----//
//*=========================================================================================

@include xl {
  .promo {
    &__desc-try,
    &__desc-check {
      font-size: 16px;
      padding: 18px;
    }

    &__desc-check {
      padding-left: 70px;
    }
  }
}

//*=========================================================================================

@include lg {
  .card {
    &__item-link {
      font-size: 14px;
    }

    &__item-price {
      font-size: 16px;
    }
  }

  .promo {
    &__desc {
      max-width: 342px;
    }

    &__image img {
      min-width: 360px;
    }
  }

  .courses {
    &__title h2 {
      max-width: 453px;
    }
  }

  .group {
    &::before {
      top: -20px;
      left: -50px;
      background-size: 450px;
    }
    &__inner {
      flex-direction: column;
    }

    &__desc {
      margin-bottom: 63px;
    }

    &__items {
      justify-content: space-between;
      min-width: 0;
    }

    &__item {
      max-width: 332px;
    }
  }

  .about {
    &__top,
    &__bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &__middle {
      flex-direction: column;
      margin-right: 0;
      align-items: flex-start;
    }

    &__top-image img,
    &__middle-image img,
    &__bottom-image img {
      object-fit: contain;
      margin-bottom: 30px;
    }
  }

  .methods {
    &__inner {
      flex-direction: column;
    }

    &__image {
      display: flex;
      align-items: center;
    }

    &__image img {
      object-fit: contain;
    }
    &__desc-title {
      display: none;
    }

    &__image-title {
      display: block;
    }
  }

  .tutorial {
    &__items {
      flex-direction: column;
    }

    &__item {
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .reviews {

    &__image img{
      object-position: center;
    }
    &__image {
      margin-bottom: 25px;
    }
    &__users {
      display: block;
      flex-direction: column;
    }
  }

  .record {
    &__inner {
      flex-direction: column-reverse;
    }

    &__title {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__title h2 {
      max-width: 302px;
    }

    &__image {
      display: none;
    }

    &__title-img {
      display: block;
      margin-right: 10px;
    }

    &__title-img {
      min-width: 295px;
    }
  }

  .news {

    &__items {
      flex-direction: column;
    }

    &__item {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .questions {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      max-width: 100%;
      display: flex;
      align-items: center;
    }

    &__title-image {
     display: block;
    }

    &__image {
      display: none;
    }
  }
}

//*=========================================================================================

@include md {
  .main-text {
    font-size: 18px;
  }
  .promo {
    &__inner {
      flex-direction: column-reverse;
    }

    &__image {
      align-self: center;
    }

    &__desc-title {
      padding-top: 0;
    }

   
  }

  .group {
    &__inner {
      margin-bottom: 100px;
    }

    &__desc {
      margin-bottom: 5px;
    }
    &__items {
      align-items: center;
      box-sizing: border-box;
      flex-wrap: nowrap;
    }

    &__item img {
      margin: 0 auto;
    }

    &__item {
      max-width: 100%;
      text-align: center;
      align-items: center;
    }

    &__desc-btn {
      display: none;
    }

    &__btn {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
  }

  .methods {
    &__image {
      flex-direction: column;
    }

    &__image img {
      height: 60%;
    }

    &__desc-list {
      font-size: 18px;
    }
  }

  .tutorial {
    &__items {
      flex-direction: row;
      margin-bottom: 25px;
    }

    &__item {
      flex-direction: column-reverse;
    }

    &__item-text {
      margin-bottom: 5px;
    }

    &__item img {
      margin-bottom: 15px;
    }

    &__item-title {
      padding-top: 30px;
    }
  }

  .record {
 
    &__inner {
      padding: 32px 16px;
    }
    &__title {
      flex-direction: column-reverse;
    }

    &__title-img {
      margin: 0;
    }

    &__form-inner {
      display: block;
    }

    &__form label {
      width: 295px;
    }

    &__form-input {
      max-width: 100%;
      margin-bottom: 10px;
    }

    &__btn {
      width: 100%;
      display: block;
      margin: 0;
    }
  }
}

//*=========================================================================================

@include sm {
  .promo {
    &__desc-btns {
      flex-direction: column;
      align-self: center;
      margin: 0 auto;
    }

    &__desc-btns > * {
      width: 100%;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  .courses {
    &__btn {
      display: none;
    }
    &__btn-mobile {
      display: block;
      text-align: center;
    }
  }

  .about {
    &__top-image img,
    &__bottom-image img,
    &__middle-image img {
      height: 60%;
    }
  }

  .reviews {
    &__btn {
      display: none;
    }

    &__image img {
      height: 60%;
    }

    &__title {
      max-width: 300px;
    }
  }

  .news {
    &__btn {
      display: none;
    }
  }

  .questions {
    &__title {
      flex-direction: column-reverse;
    }

    &__btn{
      width: 100%;
    }
  }
}

/*------------------------------------------*/
